/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
} */

/* 
#6d6875 and #b5838d
OR
#3a5a40/#344e41 and #588157 
*/

main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* Carousel */

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display: block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.carousel a {
  margin: 0 auto;
}

.nav-color{
  background-color: #3a5a40;
}

/* container for the searchbar and button */
.search-item-container {
  display: flex;
  flex-direction: row;
}

/* cart, account, admin button's container */
.nav-items-container {
  margin-left: auto;
}

.search-bar {
  width: 500px !important;
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

/* button for search-bar */
.search-item-submit {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  background-color: #4bbf73 !important;
  color: white;
}

.search-item-submit:hover {
  background-color: #389F5C !important;
  border: 2px solid #389F5C !important;
}

/* cart, account, admin button */
.nav-item-custom {
  margin-right: 0px !important;
}

.carousel-custom {
  border-radius: 6px;
  background-color: #588157;
}

.product-card {
  margin-top: 1rem!important;
  margin-bottom: 1rem!important;
  padding: 1rem!important;
  border-radius: 6px;
  transition: all 0.3s ease;

  position: relative;
  overflow: hidden;
}

.product-card:hover {
  /* width: calc(500px + 10%);
  height: calc(500px + 10%); */
  transform: scale(1.02);
  transform: translateY(-10px);
}

.product-card:hover::before {
  content: 'View Details';
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(220, 220, 220, 0.9);  /* adjust RGBA values */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20; /* set z-index to place above card content */
  transform: translateY(100%);
  transition: all 0.3s ease;
  backdrop-filter: blur(3px); /* add backdrop filter */
}

.product-card:hover::before {
  transform: translateY(-100%);
}

.painting-container {
  margin-bottom: 30px;
}

.page-button span{
    border-radius: 6px;
}

.page-button a{
    border-radius: 6px;
}

.page-button:hover a{
    background-color: #d9d9d9 ;
}

.go-back-btn {
    display: flex !important;
    align-items: center;
    width: fit-content;
    border-radius: 6px;
}

.review-item:hover {
    background-color: #d9d9d9 ;
}

.qty-container {
    flex: none !important;
    width: fit-content !important;
    margin-top: auto !important;
    margin-bottom: auto;
}

.qty-counter-shell{
    margin-left: auto;
    margin-right: auto;
}

.qty-counter{
    cursor: pointer;
}
.grp-fields{
    margin-bottom: 25px;
}

.profile-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-header-container h2 {
    margin-bottom: 0px;
}

.painting-title{
  font-size: medium;
}

.cart-item {
  transition: background-color 0.3s ease;
}

.cart-item:hover{
  background-color: #d9d9d9;
}

.product-card-title {
  display: flex;
  align-items: center;
}

.product-card-title p {
  margin-bottom: 0px;
  text-decoration: none;
}

.product-card-label {
  font-size: large;
  font-weight: bold;
  margin-right: 5px;
}

.product-review-container, .product-price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-card-body {
  padding-left: 0px !important;
}
.price {
  font-size: medium;
  margin-bottom: 0px;
}

a:link {
  text-decoration: none!important;
}

/* for mobiles apparently */
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }

  .search-bar {
    width: 100% !important;
  }

  .search-item-container {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}
